<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" style="background-color:#6a4689 !important;">
      <a class="navbar-brand" href="#">Knowledge H<i class="material-icons bub">wb_incandescent</i>b </a>
      <!-- <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
            Front End
          </a>
          <div class="dropdown-menu" style="background-color: wheat;">
            <a class="dropdown-item" href="#" style="border-bottom: 1px solid;">HTML</a>
            <a class="dropdown-item" href="#" style="border-bottom: 1px solid;">CSS</a>
            <a class="dropdown-item" href="#">JAVA SCRIPT</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ANGULAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">C#</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MS SQLSERVER</a>
        </li>
      </ul> -->
    <!-- <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a href="#myModal1" data-toggle="modal"  class="nav-link">Sign Up </a>
        </li>
        <li class="nav-item">
          <a href="#myModal" data-toggle="modal" class="nav-link"> Log in</a>
        </li>
      </ul>
      </div> -->
      <!-- <form class="form-inline my-2 my-lg-0">
        <p class="mr-sm-2" style="color:white;">Welcome user1 </p>
        <input #eid class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit" (click)="searchEmployee()">Search</button>
        
      </form> -->
      <!-- <div>
      <span style='font-size:100px; color: white; background-color: blue;'>&#1040;</span>
      <span style='font-size:100px; color: white;background-color: blue;'>&#914;</span>
    </div> -->
      <div *ngIf="showprofile" style="margin-left: auto; display: flex; align-items: center;">
        <span  style="margin-right: 15px; font-weight: 800; color: white;"> Welcome, {{title}}</span>
        <i (click)="op2.toggle($event)" class="material-icons" style="font-size:36px; color: white; margin-right: 15px; cursor: pointer;">account_circle</i>
        <a  class="notification">
          <i class="material-icons" style="color: white; margin-right: 20px;">notifications_none</i>
          <span class="badge">{{count}}</span>
        </a>
        <i (click)="onIconClick($event)" class="material-icons my-2 my-sm-0" style="color: white;">help</i>
      </div>
      
      
    </nav>
      
  
  <p-overlayPanel #op2 appendTo="body" [autoZIndex]="false" [style]="{'z-index':'1024'}" [styleClass]="useroverlay">
        <div style="display: grid;">
        <span class="log-out" style="border-bottom: 2px solid black; padding: 6px 6px; width: 100px; cursor: pointer;" (click)="onProfile()">My Account</span>
        <span class="log-out" style="padding: 6px 6px; display: flex; cursor: pointer;" (click)="onLogout(); op2.hide(); "><i class="material-icons ">exit_to_app</i>Log Out</span>
    </div>
    
  </p-overlayPanel>
  <!-- <nav class="navbar navbar-expand-lg  navbar-dark  fixed-bottom">
    <p style="color: white;" >Follow us on <a href="https://www.facebook.com" target="_blank" style="color: aqua;">Facebook</a> or <a style="color: aqua;" href="https://www.covidvisualizer.com" target="_blank">Twitter</a></p>
    <p id="date" style="color: white;"> {{ tdate | date:'medium'}}</p>
  </nav> -->

  