<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:black !important;color: white;">
      <a class="navbar-brand" href="#"><i class="material-icons"></i>Knowledge H<i class="material-icons bub">find_in_page</i>b </a>&nbsp;&nbsp;
      <div class="topnav" id="myTopnav">
      <ul *ngIf="showprofile" class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT US</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" href="#">FRONTEND</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" routerLink="/viewprofile">HTML</a>
            <a class="dropdown-item" href="#" >CSS</a>
            <a class="dropdown-item" href="#" >BOOTSTRAP</a>
            <a class="dropdown-item" href="#" routerLink="/angularinfo/dashboard" >ANGULAR</a>
            <a class="dropdown-item" href="#" >JAVA SCRIPT</a>
            <a class="dropdown-item" href="#">JQuery</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" href="#">BACKEND</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" >ASP.NET CORE</a>
            <a class="dropdown-item" href="#" >ASP.NET MVC</a>
            <a class="dropdown-item" href="#">EF CORE</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" href="#">
          DATABASES
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" >MS SQLSERVER</a>
            <a class="dropdown-item" href="#" >MY SQL</a>
            <a class="dropdown-item" href="#">MONGO DB</a>
          </div>
        </li> 
      </ul>
      <!-- <a href="javascript:void(0);" style="color:white;" class="icon" (click)="barClick()">
        <i class="fa fa-bars"></i>
      </a> -->
      </div>

    <!-- <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a href="#myModal1" data-toggle="modal"  class="nav-link">Sign Up </a>
        </li>
        <li class="nav-item">
          <a href="#myModal" data-toggle="modal" class="nav-link"> Log in</a>
        </li>
      </ul>
      </div> -->
      <!-- <form class="form-inline my-2 my-lg-0">
        <p class="mr-sm-2" style="color:white;">Welcome user1 </p>
        <input #eid class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit" (click)="searchEmployee()">Search</button>
        
      </form> -->
      <!-- <div>
      <span style='font-size:100px; color: white; background-color: blue;'>&#1040;</span>
      <span style='font-size:100px; color: white;background-color: blue;'>&#914;</span>
    </div> -->
      <div *ngIf="showprofile" style="margin-left: auto; display: flex; align-items: center;">
        <span  style="margin-right: 15px; font-weight: 800; color: white;"> Welcome {{title}}</span>
        <i (click)="op2.toggle($event)" class="material-icons" style="font-size:36px; color: white; margin-right: 15px; cursor: pointer;">account_circle</i>
        <a  class="notification">
          <i class="material-icons" style="color: white; margin-right: 20px;">notifications_none</i>
          <span class="badge">{{count}}</span>
        </a>
        <i (click)="onIconClick($event)" class="material-icons my-2 my-sm-0" style="color: white;">help</i>
      </div>
      
      
    </nav>
      
  
  <p-overlayPanel #op2 appendTo="body" [autoZIndex]="false" [style]="{'z-index':'1024'}">
        <div style="display: grid;">
        <span class="log-out" (click)="onProfile()"><i class="material-icons" >person</i> My Profile</span>
        <span class="log-out"><i class="material-icons" >shop_two</i> My Subscriptions</span>
        <span class="log-out" (click)="onLogout(); op2.hide(); "><i class="material-icons" >exit_to_app</i>  Log Out</span>
    </div>
    
  </p-overlayPanel>
  <!-- <nav class="navbar navbar-expand-lg  fixed-bottom" style="background-color: black; color: white;">
    <p style="margin:auto; font-size: 18px !important; ">Crafted & Powered by <a style="cursor: pointer;">Mad M<i class="material-icons bub">emoji_objects</i>nds</a></p>
    <p id="date" > {{ tdate | date:'medium'}}</p> 
  </nav> -->
  