<!-- <html>
  <body> 


 <div style="margin-bottom: 5px;">
  <button style="font-size: 12px" class="btn btn-info" (click)="onBtStopEditing()">
    Stop Editing   
  </button>
</div>-->
<!-- <div class="container" [hidden]="!show">
<app-content></app-content>
</div> 

    </body>
</html> -->

<!-- <video autoplay muted loop id="myVideo">
  <source src="./assets/Smart_City_Walking_preview.mp4" type="video/mp4">
</video> -->
<!-- <div class="demo-banner-wrap view h-35">
  <div class="tourism-view"></div>
  <div class="flight"></div>
  <div class="train"></div>
  <div class="bus"></div>
  <div class="cruise"></div>
  <div class="background">
    <div class="water"></div>
  </div> -->
<app-home></app-home>