<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top navbar-center">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img width="30" style="border-radius: 50%;"  src="/assets/Images/avatar.jpg">
      </a>
      <!-- <i class="material-icons">view_module</i> -->
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="navbar-nav m-auto" style="padding: 10px;">
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#academics">Academics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#achievements">Awards & Achievements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects">Projects</a>
      </li>
    </ul>
</div>
</div>
  </nav>
<div class="container">
        <div style="display: flex;justify-content: center;margin: 20px;">
          <img width="250" style="border-radius: 50%;" class="shadow"   src="/assets/Images/avatar.jpg">
        </div>
        <p id="profile-tag" class="w-50 m-auto bg-white p-4"><b>A Software Enthusiast who always strives to develop user interfaces close to human imagination.</b></p> 
        <br/>
        <br/>
      <div id="academics" class="m-auto p-3 w-75 bg-info text-white rounded borders">
        <h1>Academics</h1> 
        <ul>
          <li>
            BTech in Electronics & Comm Engg 
            Raghu Institute of Technology at Viskahapatnam |
             August 2013 - July 2017
             Higher Secondary Certification </li>
             <br/>
          <li>  Sri Chaitanya Junior College at Visakhapatnam |
             June 2011 - June 2013
             Secondary School Certification </li>
             <br/>
            <li>Prathibha Public School at Visakhapatnam | June
             2010 - May 2011</li>
          </ul>
      </div>
      <br/>
      <div id="projects" class="m-auto p-3 w-75 bg-info text-white rounded borders">
        <h1>Projects</h1> 
          <a routerLink="/home" (click)="showProjects()">Knowledge Hub</a>
        </div>
     <!-- <svg viewBox="0 0 2 2" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-k200y r-18jsvk2 r-5sfk15 r-kzbkwu"><g><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path></g></svg> -->
</div>