<div class="container">
    <div  style="background-color: #4a7b7b;padding: 10px;text-align: center;color: white;"><strong>Dashboard</strong></div>
    <div style="height: 550px; margin-top: 5px; display: flex;margin-top:10px;">
        <div style="width: 20%; background-color: white; padding: 10px;">
            <strong style="font-weight:800">Latest News >>> </strong>
            <hr/>
            <ul>
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
            </ul>
        </div>
        <div style="width: 1%;"></div>
        <div style="width: 79%; background-color: white;">

        </div>
    </div>
    
</div>