<!-- <div style="height: 300px;">
    <section>
        <img style="width: 100%;" class="mySlides"  src="assets/Images/Anon1.jpg">
        <img style="width: 100%; display: none;" class="mySlides" src="assets/Images/Anon2.jpg">
        <img style="width: 100%;  display: none;" class="mySlides"  src="assets/Images/images1.jpg">
         <img style="width: 100%; display: none;" class="mySlides" src="assets/Images/image0.jpg">
        <img style="width: 100%;  display: none;" class="mySlides"  src="assets/Images/trump.jpg">
        <img style="width: 100%; display: none;" class="mySlides" src="assets/Images/beach.jpg">
      </section>
</div> <div id="mySidenav" class="sidenav">
      <a class="fa fa-instagram" id="about">About</a>
      <a href="#" id ="blog" class="fa fa-facebook">Blog</a>
      <a href="#" id="projects">Projects</a>
      <a href="#" id="contact">Contact</a>
    </div>-->
  <app-header></app-header>
  
    <div *ngIf="!showRoutes"  class="container" style=" display: flex; margin-top: 100px;">
     
      <div class="panel" style="margin:auto; z-index: 1000;">
        <marquee *ngIf="!showRoutes" style="color:white">&#9203; Site is Under Maintenance &#9203;</marquee>
        <h2 class="dyk" style="color: white; font-family: monospace; font-style: cursive; font-weight: 700 !important; opacity: 0.5;">Did You Know ???</h2>
       <br/>
       <h3 style="color: white; font-family: emoji; font-style: italic;">
           "The truth is you don't know what is going to happen tomorrow. Life is a crazy ride, and nothing is guaranteed."
       </h3>
       <cite style="color: white; margin-left: auto; font-family: emoji;
       font-style: italic;">-- Eminem</cite>
       <br>
        <div style="display: flex; justify-content: space-evenly; align-items: flex-start;">
          <button class="btn btn-light col-sm-10" (click)="onLogin('login')" style="font-weight: 700;">Login!</button> 
          <span style="color:white ; margin: 8px;">or</span>
          <button class="btn btn-info col-sm-10" (click)="onLogin('signup')" style="font-weight: 700;">Join Us!</button>
        </div>

       
  </div>
  </div>
  
  <div *ngIf="showRoutes" style="margin-top: 100px;">
    <!-- <div id="loader"></div> -->
    <div id="overlay"></div>
   
  <router-outlet></router-outlet>
<!-- <app-viewprofile></app-viewprofile> -->

  </div>
  <!-- <div style="margin: 400px;"></div>
  <footer class="w3-container w3-padding-64 w3-center w3-black w3-xlarge">
    <a style="color: inherit; margin: 8px;" href="#"><i class="fa fa-facebook-official"></i></a>
    <a style="color: inherit; margin: 8px;" href="#"><i class="fa fa-pinterest-p"></i></a>
    <a style="color: inherit; margin: 8px;" href="#"><i class="fa fa-twitter"></i></a>
    <a style="color: inherit; margin: 8px;" href="#"><i class="fa fa-flickr"></i></a>
    <a style="color: inherit; margin: 8px;" href="#"><i class="fa fa-linkedin"></i></a>
    <p style="font-size: 15px !important; color: inherit;">Crafted & Powered by <a style="cursor: pointer;" (click)="topFunction()">Mad M<i class="material-icons bub">wb_incandescent</i>nds</a></p>
      <p id="date" style="color: white; float: right; margin-top: 60px;"><span>Indian Standard Time :</span> {{ tdate | date:'mediumTime'}}</p>
  </footer> -->